<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Financial Statement - Money Mentor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <a href="{{ url_for('home') }}" class="menu-icon">☰</a>
    <div class="container">
        <h1>Upload Your Financial Statement</h1>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <div class="upload-area">
                <p onclick="document.getElementById('fileInput').click()">Click to Upload a File</p>
                <input type="file" id="fileInput" name="file" accept=".xls,.xlsx,.png,.jpg,.jpeg,.pdf">
                <input type="submit" value="Upload" class="upload-button">
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
